/***************************************************************************************************************************************
MAIN
*/

* {
    margin: 0; 
}

.main-container {
    height: 100vh; 
    margin-top: 25vh; 
}

header {
    text-align: center; 
}

h1 {
    font-family: 'Jockey One', sans-serif;
    font-size: 100px; 
    color: #EAE9E9; 
}

p {
    color: #EAE9E9;  
    font-size: 25px; 
}

section {
    text-align: center; 
    /* margin-top: 4vh;  */
}

.subheader {
    font-family: 'Jockey One', sans-serif;
}

button:focus {
    outline: none; 
    box-shadow: none; 
}

/***************************************************************************************************************************************
PLAY BUTTON
*/

.play-button {
    text-transform: uppercase; 
    height: 8vh; 
    width: 15vw; 
    font-size: 15px; 
    border-radius: 5px; 
    transition: all 0.5s; 
}

.play-button span {
    cursor: pointer; 
    display: inline-block; 
    position: relative; 
    transition: 0.5s; 
}

.play-button span:after {
    content: '\00bb';
    position: absolute; 
    opacity: 0; 
    top: 0; 
    right: -20px; 
    transition: 0.5s; 
}

.play-button:hover span {
    padding-right: 25px; 
}

.play-button:hover span:after {
    opacity: 1; 
    right: 0; 
}

/***************************************************************************************************************************************
MEDIA QUERY
*/

@media (max-width: 414px) {
    a {
        text-decoration: none;
    }
    h1 {
        font-size: 80px; 
    }
    .main-container{
        margin: 0; 
        max-height: 100vh; 
    }
    header {
        padding-top: 27vh; 
    }
    .sub-header {
        padding: 2vh 0 2vh 0; 
    }
    .play-button-section {
        padding-top: 25vh; 
    }
    .play-button {
        width: 78vw;
        height: 10vh;  
    }
}
