* {
    margin: 0; 
}

.main-container {
    height: 100vh; 
    margin-top: 25vh; 
}

header {
    text-align: center; 
}

h1 {
    font-family: 'Jockey One', sans-serif;
    font-size: 100px; 
    color: #EAE9E9; 
}

p {
    color: #EAE9E9;  
    font-size: 25px; 
}

section {
    text-align: center; 
    margin-top: 5vh; 
}

.play-button {
    height: 8vh; 
    width: 8vw; 
    font-size: 20px; 
    border-radius: 5px; 
}


