/***************************************************************************************************************************************
MAIN
*/

h2 {
    font-family: 'Jockey One', sans-serif;
    font-size: 100px; 
    color: #EAE9E9; 
}

/***************************************************************************************************************************************
MEDIA QUERY
*/

@media (max-width: 414px) {
    .pick-category {
        font-size: 70px; 
    }
    .category-container {
        padding-top: 8vh; 
    }
    .category-btn {
        width: 65vw;
    }
}
