body {
  background-image: url('./images/jeopardy_background.jpg'); 
  background-repeat: no-repeat;
  background-size: cover; 
  /* -webkit-background-size: cover;  */
}

a {
  text-decoration: none;
}
